.content{
  display:none;
}

body{ 
  margin:0;
  padding:0;
  display:grid;
  place-content:center;
  height: 100vh;

}
.content{
  margin: auto;
  text-align: center;
  
}
#time { 
  display: flex;
  gap: 10px;
  align-items: center;
  
}
.number-content {
  font-size: 50px;
  font-weight:bolder ;
  margin: 0;
  padding: 0;
  display: block;
  text-align:center ;
  width: 100px;
  position: relative;
}

.number-div{
  height: 100px;
  width: 100px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  gap: 1px;
}
.top-span{
  background-color: rgb(202, 202, 202);
  border: 1px solid rgba(0, 0, 0, 0.192);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  margin: 0;
  padding: 0;
  display: block;
  height: 50%;
  overflow: hidden;
  transition: 0.1s all;
}
.bottom-span{
  transition: 0.1s all;
  background-color: rgb(202, 202, 202);
  border: 1px solid rgba(0, 0, 0, 0.192);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
  margin: 0;
  padding: 0;
  display: block;
  overflow: hidden;
  height: 50%;
}

.top-box-shawdo-change{
  transition: 0.1s all;
  box-shadow: 0 0 5px rgba(0,0,0,.5);
}
.bottom-box-shawdo-change{
  transition: 0.1s all;
  box-shadow: 0 0 5px rgba(0,0,0,.5);
}
.top-span-change{
  transition: 0.1s all;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.bottom-span-change{
  transition: 0.1s all;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.top-number{
  position: absolute;
  bottom: -30px;
}

.bottom-number{
  position: absolute;
  top: -30px;
}

@media (max-width:600px){

  .number-content {
    font-size: 30px;
    width: 50px;
   
  }
  
  .top-number{
    
    bottom: -20px;
  }
  
  .bottom-number{
    
    top: -20px;
  }

.number-div{
  height: 50px;
  width: 50px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  gap: 1px;
}

  
}


